name: Netlify CI Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm --prefix topbus-sinistros ci
      - name: Build
        run: npm --prefix topbus-sinistros run build
      - name: Deploy to Netlify using CLI
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        run: |
          npx netlify deploy --prod --dir=topbus-sinistros/build --site $NETLIFY_SITE_ID --auth $NETLIFY_AUTH_TOKEN
